/* All common css start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}

a {
  text-decoration: none;
  display: block;
}
/* All common css end */

/* Menu part start */
#menu {
  margin-top: 60px;
  margin-bottom: 170px;
}

.cros a {
  color: black;
  font-size: 40px;
  font-weight: 400;
}
/* Menu part end */

/* Banner part start */
#menuhome {
  margin-bottom: 250px;
}

.forlink a {
  color: black;
  font-size: 64px;
  font-weight: 700;
  line-height: 60px;
  padding-bottom: 30px;
}

.rotetion {
  color: black;
  font-size: 24px;
  font-weight: 500;
  transform: rotate(270deg);
  display: inline-block;
  text-align: center;
  padding-bottom: 30px;
  padding-right: 40px;
  margin: 0;
}

.fles {
  display: flex;
}

.icons {
  display: flex;
  padding-top: 10px;
}

.icons a i {
  font-size: 25px;
  padding-right: 40px;
  color: #000;
}

.ptext {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  font-family: "League Spartan", sans-serif;
  position: relative;
}

.pitems {
  position: absolute;
  bottom: 30px;
  left: 0;
}

.pitems p {
  padding-bottom: 20px;
}
/* Banner part end */
